<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KashFlowAPISoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="KashFlowAPISoap3" />
            </basicHttpBinding>
            <customBinding>
                <binding name="KashFlowAPISoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://securedwebapp.com/api/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="KashFlowAPISoap2"
                contract="KashFlowAPI.KashFlowAPISoap" name="KashFlowAPISoap1" />
            <endpoint address="https://securedwebapp.com/api/service.asmx"
                binding="customBinding" bindingConfiguration="KashFlowAPISoap121"
                contract="KashFlowAPI.KashFlowAPISoap" name="KashFlowAPISoap121" />
        </client>
    </system.serviceModel>
</configuration>